/* VerticalTimelineAccordion.css */

.timeline-container {
  display: flex;
  /* background-color:blue; */
  /* align-items: flex-start; */
}

.timeline-dot-line {
  position: relative;
  width: 40px;
  min-width: 40px;
  /* background-color: brown; */
}

.timeline-dot {
  width: 20px;
  height: 20px;
  background: #B7F162;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 0;
  z-index: 2;
  /* background-color: burlywood; */
}

.timeline-line {
  position: absolute;
  left: 19px;
  top: 20px;
  width: 2px;
  border-left: 2px dashed #B7F162;
  transition: height 0.3s;
  z-index: 1;
  /* background-color: cadetblue; */
}

.accordion-card {
  flex: 1;
  margin-bottom: 16px;
  /* background-color: #fff; */
  /* background-color: blueviolet; */
  border-radius: 8px;
  box-shadow: 0 2px 6px #00000011;
  padding: 18px;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.accordion-header {
  display: flex;
  align-items: center;
}

.accordion-title {
  font-weight: 600;
  font-size: 22px;
  color: #2B2B2B;
  letter-spacing: 0.5px;
}

.chevron-icon {
  margin-left: auto;
  transition: transform 0.25s;
}

.accordion-content {
  margin-top: 20px;
  font-size: 19px;
  color: #444;
}

.container {
  /* background: #FCFCFC; */
  /* background-color: aqua; */
  padding: 32px;
  max-width: 750px;
  margin: 60px auto;
}
